In [88]:
import json
import csv
from geopy.distance import great_circle
from geopy.distance import vincenty
import pandas as pd
import numpy as np
import simplejson, urllib
import googlemaps
from datetime import datetime
from geopy.distance import great_circle
from geopy.distance import vincenty
with open("data/201803_citibikenyc_tripdata.csv") as f:
    reader = csv.reader(f)
df = pd.read_csv('data/201803_citibikenyc_tripdata.csv',sep=',', encoding='latin1', index_col=None)
df4=df[1:4]
df = pd.read_csv('data/201803_citibikenyc_tripdata.csv',sep=',', encoding='latin1', index_col=False)
df4=df[0:10]

def greatCircleDistance(x, y):
    lat1, lon1 = x[0], x[1]
    lat2, lon2 = y[0], y[1]
    return vincenty((lat1, lon1), (lat2, lon2)).kilometers
metric=greatCircleDistance((df4['start station latitude'][1], df4['start station longitude'][1]),
        (df4['end station latitude'][1], df4['end station longitude'][1]))
print(metric)
df4.apply(
    lambda x: vincenty(
        (x['start station latitude'], x['start station longitude']),(x['end station latitude'], x['end station longitude'])
    ))
df4.apply(
    lambda x: vincety(
        ([x['start station latitude'], x['start station longitude']]).tolist,
        ([x['end station latitude'].tolist(), x['end station longitude']]).tolist
    )
df4['start station latitude'].tolist()
df = pd.read_csv('data/201803_citibikenyc_tripdata.csv',sep=',', encoding='latin1', index_col=None)
df4=df[1:4]
df4['start station latitude'].apply(lambda x: x + 1)

In [184]:
df = pd.read_csv('data/201803_citibikenyc_tripdata.csv',sep=',', encoding='latin1', index_col=None)
df4=df[1:16]

In [185]:
df4['distance'] = df4.apply(lambda x: vincenty((x['start station latitude'], x['start station longitude']), 
                                              (x['end station latitude'], x['end station longitude'])), axis = 1)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [137]:
df4['distance']

1      1.10926590629 km
2     0.966350152638 km
3      3.66808489913 km
4     0.141285740817 km
5      2.37884350289 km
6      2.84317864104 km
7      1.93543592206 km
8      2.70561189205 km
9       2.9254632617 km
10     1.85914726998 km
11     3.13615600836 km
12     1.02188282092 km
13    0.779936596141 km
14     2.70561189205 km
15     5.13309910498 km
Name: distance, dtype: object

In [134]:
df4

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender,distance
1,486,2018-03-01 00:00:06,2018-03-01 00:08:12,146,Hudson St & Reade St,40.716250,-74.009106,363,West Thames St,40.708347,-74.017134,31491,Annual Membership,Subscriber,1954.0,1,1.10926590629 km
2,333,2018-03-01 00:00:07,2018-03-01 00:05:41,257,Lispenard St & Broadway,40.719392,-74.002472,361,Allen St & Hester St,40.716059,-73.991908,31991,FREE Bonus Month with Annual Membership,Subscriber,1986.0,1,0.966350152638 km
3,1629,2018-03-01 00:00:21,2018-03-01 00:27:31,3556,24 St & 41 Ave,40.752709,-73.939740,3532,Ditmars Blvd & 19 St,40.781450,-73.918330,18265,Annual Membership,Subscriber,1990.0,1,3.66808489913 km

In [151]:

df4['distance']

1      1.10926590629 km
2     0.966350152638 km
3      3.66808489913 km
4     0.141285740817 km
5      2.37884350289 km
6      2.84317864104 km
7      1.93543592206 km
8      2.70561189205 km
9       2.9254632617 km
10     1.85914726998 km
11     3.13615600836 km
12     1.02188282092 km
13    0.779936596141 km
14     2.70561189205 km
15     5.13309910498 km
Name: distance, dtype: object

In [156]:
df4.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
name_localizedValue0        object
usertype                    object
birth year                 float64
gender                       int64
distance                    object
dtype: object

In [166]:
WomenOnly=df4.groupby('gender').filter(lambda x: ((x.gender == 1)).all())
WomenOnly[:3]
MenOnly= df4.groupby('gender').filter(lambda x: ((x.gender == 2)).all())
print(MenOnly[:3])
UnknownGender=df.groupby('gender').filter(lambda x: ((x.gender == 0)).all())

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, name_localizedValue0, usertype, birth year, gender, distance]
Index: []

In [173]:
# get the gender filtered data 
WomenOnly=df4.groupby('gender').filter(lambda x: ((x.gender == 1)).all())
Menonly=df4.groupby('gender').filter(lambda x: ((x.gender == 2)).all())
UnknowngG=df4.groupby('gender').filter(lambda x: ((x.gender == 0)).all())

In [181]:
df4.groupby['gender']

TypeError: 'instancemethod' object has no attribute '__getitem__'

In [183]:
print(df4.groupby('gender'))

<pandas.core.groupby.DataFrameGroupBy object at 0x1f1ebea10>

In [ ]:
data.groupby(df4.date.dt.year)